<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Design</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
     
<div class="sidebar">
     <div class="logo"></div>
     <ul class="menu">
         <li class="active">
             <a href="/profile">
                 <i class="fas fa-tachometer-alt"></i>
                 <span>Dashboard</span>
             </a>
         </li>
         <li>
             <a href="/userprofile">
                 <i class="fas fa-user"></i>
                 <span>Profile</span>
             </a>
         </li>
         <li>
             <a href="/stock_view">
                 <i class="fas fa-chart-bar"></i>
                 <span>Stocks</span>
             </a>
         </li>
         <li>
             <a href="/buystock">
                 <i class="fas fa-chart-bar"></i>
                 <span>Buy Stock</span>
             </a>
         </li>
         <li>
             <a href="/freq">
                 <i class="fas fa-question-circle"></i>
                 <span>FAQ</span>
             </a>
         </li>
         <li>
             <a href="/stocks">
                 <i class="fas fa-star"></i>
                 <span>Market</span>
             </a>
         </li>
         <li>
             <a href="/chatbot">
                 <i class="fas fa-cog"></i>
                 <span>ChatBot</span>
             </a>
         </li>

         </li>
         <li class="logout">
             <a href="/home">
                 <i class="fas fa-sign-out-alt"></i>
                 <span>Logout</span>
             </a>
         </li>
     </ul>
 </div>